{% extends 'base.html' %}

{% block title %}Redefinir senha{% endblock %}

{% block content %}
<h2>Defina sua nova senha</h2>
<form method="post" novalidate>
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.password.label }}
        {{ form.password(class_='form-control') }}
        {% for error in form.password.errors %}
        <span class="error">{{ error }}</span>
        {% endfor %}
    </div>
    <div class="form-group">
        {{ form.confirm_password.label }}
        {{ form.confirm_password(class_='form-control') }}
        {% for error in form.confirm_password.errors %}
        <span class="error">{{ error }}</span>
        {% endfor %}
    </div>
    <div class="form-group">
        {{ form.submit(class_='btn btn-primary') }}
    </div>
</form>
{% endblock %}